<div class="row">
  <div class="col">
    <h2 [innerHTML]="'pro.architecture.title' | translate"></h2>
  </div>
</div>

<div
  class="row"
  *ngFor="let architecture of architectures"
  [attr.data-aos]="'zoom-out-up'"
>
  <div class="col">
    <div class="alert alert-info">
      <div class="row">
        <div class="col-12 col-md-2">
          <h3
            [innerHTML]="
              'pro.architecture.' + architecture.key + '.title' | translate
            "
          ></h3>
          <img
            *ngFor="let image of architecture.images"
            [src]="image.src"
            class="rounded mx-auto w-25"
            [alt]="image.name"
            [title]="image.name"
            [attr.data-aos]="'zoom-in'"
          />
        </div>
        <div class="col-12 col-md-10 mt-3" [attr.data-aos]="'zoom-in'">
          <p [innerHTML]="'pro.architecture.data.summary' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</div>
