<div class="jumbotron px-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h1 class="display-3">{{ getAuthor() }}</h1>
        <p>{{ "summary.description" | translate }}.</p>
        <p>
          {{ "summary.moreInfo" | translate }}:
          <a [href]="getMailTo()" target="_top">{{ getEmail() }}</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <video autoplay loop class="w-100">
          <source src="./assets/videos/scriptsTyped.mp4" type="video/mp4" />
          {{ "summary.videoError" | translate }}
        </video>
      </div>
    </div>
  </div>
</div>
