$bg: linear-gradient(
  to right,
  rgba(59, 103, 158, 1) 0%,
  rgba(125, 185, 232, 1) 100%
);

$btn-bg: linear-gradient(
  to right,
  rgb(225, 238, 255) 0%,
  rgb(47, 130, 194) 100%
);

$bg-right: #7db9e8;

$bg-primary: #007bff;
$bg-secondary: #6c757d;
$bg-success: #28a745;
$bg-danger: #dc3545;
$bg-warning: #ffc107;
$bg-info: #17a2b8;
$bg-light: #f8f9fa;
$bg-dark: #343a40;
$bg-white: #fff;
