@import '../../../../assets/css/variables.scss';

$inactive-height: 50px;
$active-height: 180px;

.player {
  border-radius: 25px;
}

.active {
  animation-name: activeAction;
  // min-height: $active-height;
  background-color: $bg-success;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);

  animation-duration: 1s;
}

.inactive {
  animation-name: inactiveAction;
  // min-height: $inactive-height;
  background-color: $bg-warning;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  animation-duration: 1s;
}

@-webkit-keyframes activeAction {
  0% {
    background-color: $bg-warning;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    background-color: $bg-success;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  }
}

@-webkit-keyframes inactiveAction {
  0% {
    background-color: $bg-success;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  }
  100% {
    background-color: $bg-warning;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
