<div class="row">
  <div class="col">
    <h2 [innerHTML]="'architecture.title' | translate"></h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="alert alert-info">
      <div class="row">
        <div class="col-3 col-md-2">
          <h3 [innerHTML]="'architecture.cloud.title' | translate"></h3>
        </div>
        <div class="col-9 col-md-3">
          <ol>
            <li>AWS</li>
            <li>Digital Ocean</li>
          </ol>
        </div>
        <div class="col-12 col-md-7">
          <p [innerHTML]="'architecture.cloud.summary' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="alert alert-info">
      <div class="row">
        <div class="col-3 col-md-2">
          <h3 [innerHTML]="'architecture.front.title' | translate"></h3>
        </div>
        <div class="col-9 col-md-3">
          <ol>
            <li>Angular</li>
            <li>Vue</li>
            <li>PHP</li>
            <li>Python</li>
            <li>JAVA EE</li>
            <li>Net Core</li>
          </ol>
        </div>
        <div class="col-12 col-md-7">
          <p [innerHTML]="'architecture.front.summary' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="alert alert-info">
      <div class="row">
        <div class="col-3 col-md-2">
          <h3 [innerHTML]="'architecture.back.title' | translate"></h3>
        </div>
        <div class="col-9 col-md-3">
          <ol>
            <li>JAVA</li>
            <li>Net Core</li>
          </ol>
        </div>
        <div class="col-12 col-md-7">
          <p [innerHTML]="'architecture.back.summary' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-info">
      <div class="row">
        <div class="col-3 col-md-2">
          <h3 [innerHTML]="'architecture.data.title' | translate"></h3>
        </div>
        <div class="col-9 col-md-3">
          <ol>
            <li>Oracle</li>
            <li>SQL Server</li>
            <li>MySQL</li>
            <li>Python</li>
            <li>Mongo</li>
            <li>Exists DB</li>
            <li>Caché</li>
          </ol>
        </div>
        <div class="col-12 col-md-7">
          <p [innerHTML]="'architecture.data.summary' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</div>
