<div class="card" *ngIf="card">
  <div class="card-body">
    <h5 class="card-title">{{ card.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted text-right">
      {{ card.date | date: "dd-MM-yyyy" }}
    </h6>
    <p class="card-text">{{ card.body }}</p>
    <div class="text-right" *ngIf="card.link">
      <a routerLink="card.link.url" class="card-link text-capitalize"
        ><i *ngIf="card.link.icon" [ngClass]="'fas' + card.link.icon"></i
        >{{ card.link.text }}</a
      >
    </div>
  </div>
</div>
