<div class="card" *ngIf="card">
  <div class="card-body">
    <h5 class="card-title">{{ getPath('title') | translate }}</h5>
    <h6 class="card-subtitle mb-2 text-muted text-right">
      {{ card.dateInit | date: 'dd-MM-yyyy' }}
    </h6>
    <p class="card-text">{{ getPath('description') | translate }}</p>
    <div class="text-right" *ngIf="card.link">
      <a routerLink="card.link.url" class="card-link text-capitalize"
        ><i *ngIf="card.link.icon" [ngClass]="'fas' + card.link.icon"></i
        >{{ card.link.text }}</a
      >
    </div>
  </div>
</div>
