<div class="row">
  <div class="col">
    <div class="timeline" *ngIf="items">
      <div
        class="container"
        *ngFor="let item of items; let odd = odd"
        [ngClass]="odd ? 'right' : 'left'"
      >
        <div class="content">
          <h3>
            {{ item.dateInit | date: "MMM-yyyy" }} -
            {{ item.dateEnd | date: "MMM-yyyy" }}
          </h3>
          <h4>
            {{ item.name }}
          </h4>
          <p>
            {{ item.center }}
          </p>
          <p *ngIf="item.qualify">
            {{ item.qualify }}
          </p>
          <p *ngIf="item.comments">
            {{ item.comments }}
          </p>
          <p *ngIf="item.qualify">
            Qualificación: {{ item.qualify }}
            <a
              *ngIf="item.link"
              [href]="item.link"
              [title]="item.link"
              target="_blank"
              >Verificalo tú mismo...</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
