/* You can add global styles to this file, and also import other style files */
/* Show it is fixed to the top */
body {
  padding-top: 3.5rem;
}

// .ng-valid[required],
// .ng-valid.required {
.ng-valid:not(form) .ng-valid:not(ngb-datepicker) {
  border-left: 5px solid #42a948 !important; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important; /* red */
}

.form-error {
  position: absolute !important;
  margin-right: 5px !important;
  z-index: 10 !important;
}

fieldset > legend {
  text-decoration: underline;
}
